@import url('https://fonts.googleapis.com/css?family=Orbitron|Roboto');


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	background: url("./pattern.png");
}

.main {
	background: #ccc;
	width: 400px;
	height: 175px;
	margin: 100px auto; /*//centers it, the box*/
	position: relative;
	padding: 30px;
}

.badge {
	width: 96px;
	background: #e66357;
	color: white;
	padding: 5px 10px;
	font-family: sans-serif;
	font-weight: bold;
	position: absolute;
	top: -15px; /*starts positioning from top of the .main rather than the browswer window*/
	left: 40%;
}

.clock {
	background: #EBEBEB;
	text-align: center;
	font-size: 60px;
	height: 100%;
	padding-top: 25px;
	font-family: 'Roboto';
	border-radius: 4px;

}